.LogoWrapeer {
  display: flex;
}

.LogoWrapeer h3 {
  margin: 0;
  padding: 5px;
  font-size: 26px;
  font-weight: 800;
  color: #fff;
  font-style: italic;
}

.BgBlack {
  font-weight: 400 !important;
}
