.SectionTitle {
  font-size: 32px;
  font-weight: 600;
}

.SectionTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.TitleItem:nth-child(2) ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.TitleItem:nth-child(2) ul li {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  color: #1d4354;
}

.ListActive {
  border-bottom: 1px solid #e9e9eb;
  box-shadow: 0 1px 4px 0 rgba(48, 56, 97, 0.2);
}

.TitleItem:nth-child(2) ul li::first-letter {
  font-size: 18px;
  color: #6fda44;
}
