.SearchWrapper {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
  align-items: center;
  border-bottom: 1px solid #e9e9eb;
}

.SearchTopSection {
  width: 100%;
  text-align: center;
}

.SearchTopSection h1 {
  font-size: 65px;
  font-weight: 700;
  text-transform: capitalize;
}

.SearchTopSection p span {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #3d4152;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 5px;
}

.SearchTopSection p span::first-letter {
  color: #000000;
  font-size: 25px;
}
