.BlogSectionTitle {
  margin-bottom: 30px;
}
.BlogSectionTitle h2 {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BlogItemWeapper {
  background-color: #fff;
  padding: 25px;
}
