.CastInfoWrapper {
  flex-basis: 80%;
  margin: 25px 0;
}

@media screen and (max-width: 768px) {
  .CastInfoWrapper {
    flex-basis: 100%;
  }
}

.CastInfoTitle h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.CastInfoTitle h2::first-letter {
  font-size: 27px;
  font-weight: 700;
}
